<h1 class="headline">It's or Its</h1>

<h2>Should I use it's or its?</h2>

<form action="/create_sentence" method="post">
<div>
  <label>Put your sentence here</label>
</div>
<div>
  <textarea name="old_sentence" rows="10" cols="50"></textarea>
</div>
<div>
  <button class="myButton">Send</button>
</div>
</form>
