<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>It is what it is</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
  </header>

  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
